{% extends "base.html" %}

{% block content %}





    <!-- Header Section -->

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'useraccount' %}"><i class="im im-angle-left">Back</i></a>
                <br>

                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}

                    <!-- Input:Text -->
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}} </label>
                        {{field}}
                    </div>

                    {% endfor %}


                    {% comment %} # project tags  {% endcomment %}
                    <div class="form__field">
                        {% for tag in project.tags.all %}
                            <div class='project-tag tag tag--pill tag--main' data-tag="{{tag.id}}" data-project="{{project.id}}">
                                {{tag.name}} &#215;
                            </div>
                        {% endfor %}
                    </div>
                    


                {% comment %} project rags input {% endcomment %}
            <div class="form__field">
                <label for="formInput#text">{{field.label}} </label>
                <textarea class='input' name="newtags" id="" cols="30" rows="3" placeholder='add tech seperated by space'></textarea>
                
            </div>
                    
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                
                
                </form>
            </div>
        </div>
    </main>

<script>
    
</script>


{% endblock %}