{% load static %}

<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'profiles' %}" class="header__logo" style="font-size:20px;">
        {% comment %} <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" /> {% endcomment %}
        DConnect
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
          <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
          {% comment %} <li class="header__menuItem"><a href="">Inbox</a></li>
          <li class="header__menuItem"><a href="">My Account</a></li> {% endcomment %}
          <li class="header__menuItem"><a href="{% url 'projectrooms' %}" class="">Rooms</a></li> 
          
           {% if request.user.is_authenticated %}
           
           <li class="header__menuItem"><a href="{% url 'useraccount' %}" class="btn btn--sub">Account</a></li> 
           <li class="header__menuItem"><a href="{% url 'inbox' %}" class="btn btn--sub">Message</a></li> 
           
           <li class="header__menuItem"><a href="{% url 'userlogOut' %}" class="btn btn--sub">Logout</a></li>
          
           {% else %}
           {% comment %} <li class="header__menuItem"><a href="{% url 'projectrooms' %}" class="btn btn--sub">ProjectRooms</a></li>            {% endcomment %}
            <li class="header__menuItem"><a href="{% url 'userlogin' %}" class="btn btn--sub">Login/Sign Up</a></li> 

           {% endif %}

          {% comment %} <li class="header__menuItem"><a href="{% url 'createProject' %}" class="btn btn--sub">Add project</a></li> {% endcomment %}

          
        </ul>
      </nav>
    </div>
  </header>