{% extends 'base.html' %}


{% block content %} 


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h2>
                Password Reset
            </h2>
            
            <p>
                Enter your email, we will send you a password reset link.
            </p>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                <!-- Input:Text -->
            <p>
                {{form}} 
            </p>
                <br>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

<br>
<br>


{% endblock %}